{% extends 'base.html.twig' %}
{% block content %}
    <div class="card">
        <div class="card-header">
            Login
        </div>
    <form action="{{ path('app_login_index') }}" method="post" class="card-body">
        {% if error %}
            <div class="alert alert-danger">
                {{ error.messageKey|trans(error.messageData) }}
            </div>
        {% endif %}
        <div>
            <label for="username">Username</label>
            <input type="text" id="username" name="_username" value="{{ last_username }}" />
        </div>
        <div>
            <label for="password">Password:</label>
            <input type="password" id="password" name="_password" />
        </div>
        <br/>
        <button type="submit">Login</button>
    </form>
    </div>
{% endblock %}
