<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="{{ path("homepage") }}">Blog Sample</a>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            {% if is_granted("IS_AUTHENTICATED_FULLY") %}
            <li class="nav-item">
                <a class="nav-link" href="{{ path("app_mypage_default_index") }}">MyPage</a>
            </li>
            {% elseif is_granted('IS_AUTHENTICATED_ANONYMOUSLY') %}
            <li class="nav-item">
                <a class="nav-link" href="{{ path("app_login_index") }}">Login</a>
            </li>
            {% endif %}
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="text" placeholder="Search" name="s">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>
