{% extends 'base.html.twig' %}

{% block content %}
    <h2 class="page-header">blog</h2>
    {% include ':mypage/blog:list.html.twig' with {"posts": posts} %}
    <div>
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
                <li class="page-item{% if page < 2 %} disabled"{% endif %}">
                <a class="page-link" href="{{ path("homepage",{"page": page - 1}) }}">Previous</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="{{ path("homepage",{"page": page + 1}) }}">Next</a>
                </li>
            </ul>
        </nav>
    </div>
{% endblock %}
